# Python / uv
.venv/
__pycache__/
*.py[cod]
.python-version

# Data and DB (Keep the repo light!)
*.csv
*.csv.gz
*.parquet
ny_taxi_postgres_data/

# Docker / IDE
.docker/
.vscode/
.DS_Store

google_credentials.json
de-zoomcamp-105558-a8b7fbb21cf4.json
*.json 